<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <!-- General description of your web application -->

    <display-name>My Web Application</display-name>
    <description>
      Sample visualization
    </description>


    <context-param>
      <param-name>webmaster</param-name>
      <param-value>myaddress@mycompany.com</param-value>
      <description>
        The EMAIL address of the administrator to whom questions
        and comments about this application should be addressed.
      </description>
    </context-param>



    <servlet>
      <servlet-name>My Servlet</servlet-name>
      <description>My servlet description.</description>
      <servlet-class>SimpleExampleServlet</servlet-class>
    </servlet>

    <servlet>
      <servlet-name>CSV Example</servlet-name>
      <description>CsvDataSourceServlet</description>
      <servlet-class>CsvDataSourceServlet</servlet-class>
    </servlet>

    <servlet>
      <servlet-name>AdvancedExampleServlet2</servlet-name>
      <description>AdvancedExampleServlet2</description>
      <servlet-class>AdvancedExampleServlet2</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>My Servlet</servlet-name>
      <url-pattern>/simpleexample</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>CSV Example</servlet-name>
      <url-pattern>/csv</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>AdvancedExampleServlet2</servlet-name>
      <url-pattern>/advanced</url-pattern>
    </servlet-mapping>

    <!-- Define the default session timeout for your application,
         in minutes.  From a servlet or JSP page, you can modify
         the timeout for a particular session dynamically by using
         HttpSession.getMaxInactiveInterval(). -->

    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>


</web-app>
